<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIwuP0hvvjF_PsN68U9myrNCQc4FeGkKI</string>
	<key>GCM_SENDER_ID</key>
	<string>436857825074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jinminu.hasung.GymHelper</string>
	<key>PROJECT_ID</key>
	<string>gymhelper-95d3a</string>
	<key>STORAGE_BUCKET</key>
	<string>gymhelper-95d3a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436857825074:ios:e0045850352bb1ead2d92b</string>
</dict>
</plist>